// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.eoko {
    border: 1px rgba(0,0,0,0.1) solid;
    padding: 2em;
    width: 25em;
}

.password-box{

}

.chat-div{
    width: 21em;
    background-color: rgba(0,0,0,0.5);
    height: 50em;
    margin-bottom: 10px;
    overflow: scroll;
}

.chat-input{
    width: 21em;
    background: none;
    background: rgba(0,0,0,0.5);
    border: none;
    padding: 0.5em;
    bottom: 0;
  }

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.actualChat{
  width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    margin-bottom: 10px;
}

.serverMessage{
    color: #f57c00 !important;
    text-align: center !important;
    text-decoration: underline !important;
}
